@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <link href="~/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" id="account" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </p>

        <label asp-for="Input.Email" class="sr-only my-1">Email address</label>
        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <label asp-for="Input.Password" class="sr-only my-1">Password</label>
        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" type="checkbox"> @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
</body>
</html>

